table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 32px;
    height: 32px;
}

table {
    position: absolute;
    left: 32.5%;
}

button {
    position: absolute;
    top: 82%;
}